---
layout: default
---
<div class="mb-4">
  <h2>Primeros platos</h2>
  <ul class="list-group">
    {{#each primeros}}
    <li class="list-group-item"><a href="primeros/{{slug this.title}}">{{this.title}}</a></li>
    {{/each}}
  </ul>
</div>

<div class="mb-4">
  <h2>Segundos platos</h2>
  <ul class="list-group">
    {{#each segundos}}
    <li class="list-group-item"><a href="segundos/{{slug this.title}}">{{this.title}}</a></li>
    {{/each}}
  </ul>
</div>

<div class="mb-4">
  <h2>Postres</h2>
  <ul class="list-group">
    {{#each postres}}
    <li class="list-group-item"><a href="postres/{{slug this.title}}">{{this.title}}</a></li>
    {{/each}}
  </ul>
</div>